body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.red {
    background-color: #D95980;
}

.yellow {
    background-color: #F99B45;
}

.green {
    background-color: #63AAC0;
}

.purple {
    background-color: #819FF9;
}

.flash {
    background-color: white;
}

.userflash {
    background-color: green;
}